<header class="masthead" style="background-image: url('/images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>
            <%=  @article.title %>
          </h1>
          <h2 class="subheading">
            <%= @article.subtitle %>
          </h2>
          <span class="meta">Posted by
            <%= link_to 't.irikawa', root_path %>
            <%= @article.created_at.strftime("%Y年%m月%d日") %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          <%= simple_format @article.body %>
        </p>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-success' %>
        <%= link_to 'Delete', article_path(@article), data: {confirm: '削除してもよろしいですか？'}, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>

  </div>
</article>