<!DOCTYPE html>
<html>
<head>
  <title>Irikawa'sBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application','clean-blog', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!-- Navigation -->
<%= render 'layouts/header' %>

<%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/indy33817719">
                  <span>
                    <%= fa_stacked_icon "twitter", base: "circle", class: "fa-lg",icon_options: { class: "text-light" } %>
                  </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
